{% extends "base.html" %}
{% block content %}
<h1>{{ section.name }}</h1>
<form method="POST">
    {% for question_idx in range(questions|length) %}
    <div class="question">
        <p>{{ questions[question_idx].question }}</p>
        {% for option in questions[question_idx].options %}
        <label>
            <input type="checkbox" name="question_{{ question_idx }}" value="{{ option }}">
            {{ option }}
        </label><br>
        {% endfor %}
        <button type="button" class="reset-button" data-question="{{ question_idx }}">Сбросить выбор</button>
    </div>
    {% endfor %}
    <button type="submit" class="btn">Завершить тест</button>
</form>

<script>
    // Обработчик для кнопок "Сбросить выбор"
    document.querySelectorAll('.reset-button').forEach(button => {
        button.addEventListener('click', () => {
            const questionIndex = button.getAttribute('data-question');
            const checkboxes = document.querySelectorAll(`input[name="question_${questionIndex}"]`);
            checkboxes.forEach(cb => {
                cb.checked = false;
            });
        });
    });
</script>
{% endblock %}